{% extends "restaurants/base.html" %}
{% load revisioned_staticfiles %}

{% block title %}Account Activation{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'restaurants/css/activate.css' %}" />
{% endblock %}

{% block scripts %}
  <script src="{% static 'restaurants/js/activate.js' %}"></script>
{% endblock %}

{% block content %}
  <section>
    <h1>Activate your account</h1>
    <div id="error">
      <p></p>
    </div>
    <div class="spinner-container">
      <i class="spinner fa fa-cog fa-spin"></i>
      <i class="success fa fa-check"></i>
    </div>
    <button id="activate-account" type="button" data-uid="{{ uid }}" data-token="{{ token }}">
      Click here to activate your account
    </button>
  </section>
{% endblock %}
