{% load revisioned_staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Fud.fi{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Mr+Bedfort">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% block style %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
    <div class="wrapper">
      <header>
        <h1><a href="{% url "restaurants:index" %}">Fud.fi</a></h1>
        <div class="user">
        </div>
      </header>
      {% block content %}{% endblock %}
    </div>
    <footer>
      <h3>Fud.fi</h3>
      <div class="footer-content">
        {% block footer %}{% endblock %}
      </div>
    </footer>
</body>
</html>
