{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Fud.fi{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Mr+Bedfort">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    {% block style %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
    <header>
        <a href="{% url "restaurants:index" %}"><h1>Fud.fi</h1></a>
    </header>
    {% block content %}{% endblock %}
</body>
</html>
