{% extends "restaurants/base.html" %}
{% load revisioned_staticfiles %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'restaurants/css/index.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'restaurants/js/index.js' %}"></script>
{% endblock %}

{% block content %}
    <article>
        <section id="header">
            <h1>Create your restaurant's website in minutes</h1>
        </section>
        <section id="features">

        </section>
    </article>
{% endblock %}
