{% extends "restaurants/restaurant-base.html" %}
{% load revisioned_staticfiles %}

{% block title %}{{ title }}{% endblock %}
{% block name %}{{ name }}{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'restaurants/css/menu.css' %}" />
{% endblock %}

{% block content %}
    <section class="main">

        <script type="text/template" class="template">

        <ul class="menus">
          <% _.each(restaurant.menus, function(menu) { %>
            <li>
              <h1>
                <span>
                  <%- menu.title %>
                </span>
              </h1>
            </li>
          <% }); %>
        </ul>

        <ul class="menu-container">
        <% _.each(restaurant.menus, function(menu) { %>

          <li class="menu">
            <h1>
                <%- menu.title %>
            </h1>

            <ul class="categories">
            <li>
              <% if(menu.content.name) { %>
                <h2>
                  <%- menu.content.name %>
                </h2>
              <% }; %>

              <ul class="menu-item">
                <% _.each(menu.content.items, function(item) { %>
                 <li>
                     <article>
                       <h4> <%- item.name %> </h4>
                       <h4> <%- item.price %> </h4>
                     </article>
                     <p> <%- item.description %> </p>
                     <p> <%- item.allergens %> </p>
                 </li>
                <% }); %>
              </ul>
            </li>
          </ul>
          </li>
        <% }); %>
      </ul>

      </script>
    </section>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="{% static 'restaurants/js/menu.js' %}"></script>
{% endblock %}
