{% extends "restaurants/restaurant-base.html" %}
{% load revisioned_staticfiles %}

{% block title %}{{ title }}{% endblock %}
{% block name %}{{ name }}{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'restaurants/css/menu.css' %}" />
{% endblock %}

{% block content %}
    <section class="main">

        <script type="text/template" class="template">

        <section class="menus">
          <% _.each(restaurant.menus, function(menu) { %>
            <h1>
              <%- menu.title %>
            </h1>
          <% }); %>
        </section>


        <% _.each(restaurant.menus, function(menu) { %>

          <article class="menu">
          <h1>
              <%- menu.title %>
          </h1>

          <h2>
            <%- menu.content.name %>
          </h2>

          <ul>
            <% _.each(menu.content.items, function(item) { %>

             <li>
                 <%- item.name %>
                 <%- item.price %>
                 <%- item.description %>
                 <%- item.allergens %>
             </li>

            <% }); %>
          </ul>

        </article>
        <% }); %>


      </script>
    </section>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="{% static 'restaurants/js/menu.js' %}"></script>
{% endblock %}
