{% extends "restaurants/base.html" %}
{% load revisioned_staticfiles %}

{% block title %}Profile{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'restaurants/css/profile.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'restaurants/js/profile.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
{% endblock %}

{% block content %}
    <section>
        <h1 class="welcome">Hi</h1>
        <div class="sections">
            <section id="profile">
                <h2>Profile settings</h2>
                <div id="error">
                    <p></p>
                </div>
                <form id="change-email">
                    <label for="email">Email<span class="success"> updated!</span></label>
                    <input name="email" type="email" disabled>
                    <button type="button" class="change fa fa-edit"></button>
                    <button type="button" class="cancel hidden">Cancel</button>
                    <button type="submit" class="save hidden">Save</button>
                </form>
                <form id="change-password">
                    <label for="current-password" class="extra">Password<span class="success"> updated!</span></label>
                    <label for="current-password" class="extra hidden">Current password</label>
                    <input name="current-password" type="password" placeholder="••••••••" disabled>
                    <label for="new-password" class="extra hidden">New password</label>
                    <input name="new-password" type="password" class="extra hidden" disabled>
                    <button type="button" class="change fa fa-edit"></button>
                    <button type="button" class="cancel hidden">Cancel</button>
                    <button type="submit" class="save hidden">Save</button>
                </form>
            </section>
            <section id="restaurants">
                <h2>Your restaurants</h2>
                <ul>
                    <li>---</li>
                </ul>
                <a class="register button" href="/register">Register a restaurant</a>
            </section>
        </div>

    </section>
{% endblock %}
