{% extends "restaurants/base.html" %}
{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'restaurants/css/signup.css' %}" />
{% endblock %}

{% block content %}
    <section>
        <h1>Register restaurant</h1>
        <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        	<label for="id_{{ field.label }}">{% if field.field.required %}*{% endif %} {{ field.label }}</label>
        	{{ field }}
        	{% for error in field.errors %}
        	<p class="error">{{ error }}</p>
        	{% endfor %}
        {% endfor %}
        <button type="submit">Register</button>
        {% if registered_message %}
        	<span>{{ form.registered_message }}</span>
        {% endif %}
    	</form>
    </section>
{% endblock %}