{% extends "restaurants/base.html" %}
{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'restaurants/css/register.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'restaurants/js/register.js' %}"></script>
{% endblock %}

{% block content %}
    <section>
        <h1>Register your Restaurant</h1>
        <div id="error">
            <p></p>
        </div>
        <form id="register">
            <label for="name">Name</label>
            <input maxlength="255" name="name" type="text" placeholder="e.g. Fantastic Falafel" required />
            <label for="subdomain">Subdomain</label>
            <input maxlength="30" name="subdomain" type="text" placeholder="e.g. fantastic (becomes fantastic.fud.fi)" required />
            <label for="address">Address</label>
            <input maxlength="255" name="address" type="text" placeholder="e.g. 935 Pennsylvania Avenue" />
            <label for="postal code">Postal code</label>
            <input maxlength="5" name="postal_code" type="text" placeholder="e.g. 20535-0001" />
            <label for="city">City</label>
            <input maxlength="45" name="city" type="text" placeholder="e.g. Washington, D.C." />
            <label for="phone number">Phone number</label>
            <input maxlength="32" name="phone_number" type="text" placeholder="e.g. 010123456789" />
            <label for="email">Email</label>
            <input maxlength="254" name="email" type="email" placeholder="fantastic@example.com" />
            <button type="submit">Register</button>
        </form>
    </section>
{% endblock %}