{% extends "restaurants/base.html" %}
{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'restaurants/css/register.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'restaurants/js/register.js' %}"></script>
{% endblock %}

{% block content %}
    <section>
        <h1>Register your Restaurant</h1>
        <div id="error">
            <p></p>
        </div>
        <form id="register">
            <label for="name">Name</label>
            <label for="subdomain">Subdomain</label>
            <input name="name" type="text" placeholder="e.g. Fantastic Falafel" required />
            <input name="subdomain" type="text" placeholder="e.g. fantastic" required />
            <label for="address">Address</label>
            <input name="address" type="text" />
            <label for="postal code">Postal code</label>
            <input name="postal_code" type="text" />
            <label for="city">City</label>
            <input name="city" type="text" />
            <label for="phone number">Phone number</label>
            <input name="phone_number" type="text" />
            <label for="email">Email</label>
            <input name="email" type="email" />
            <button type="submit">Register</button>
        </form>
    </section>
{% endblock %}