{% extends "restaurants/base.html" %}
{% load staticfiles %}

{% block title %}Sign up{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'restaurants/css/signup.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'restaurants/js/signup.js' %}"></script>
{% endblock %}

{% block content %}
    <form>
        <input type="text" placeholder="username">
        <input type="email" placeholder="email">
        <input type="password" placeholder="password">
        <button type="submit">Sign up</button>
    </form>
{% endblock %}
