{% extends "restaurants/base.html" %}
{% load revisioned_staticfiles %}

{% block title %}Sign up{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'restaurants/css/signup.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'restaurants/js/signup.js' %}"></script>
{% endblock %}

{% block content %}
    <section>
        <h1>Sign up for Fud.fi</h1>
        <div id="error">
            <p></p>
        </div>
        <form id="signup">
            <div class="input-container">
                <label for="username">Username</label>
                <input type="text" name="username" required>
            </div>
            <div class="input-container">
                <label for="email">Email</label>
                <input type="email" name="email" required>
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit">Sign up</button>
        </form>
    </section>
{% endblock %}
