<li class="menu" data-id="<%- id %>">
    <h2 class="menu-title mobile" data-id="<%- id %>"><input class="title" value="<%- title %>"></h2>
    <ul class="categories">
        <% _.each(content, function(category) { %>
        <li class="category">
            <% if(category.name) { %>
            <h3 class="category-name"><span contenteditable="true" placeholder="Category"><%- category.name %></span></h3>
            <% }; %>
            <ul class="menu-items">
                <% _.each(category.items, function(item) { %>
                <li>
                    <div class="menu-item-title">
                        <h4 class="item-name" contenteditable="true" placeholder="Name"> <%- item.name %> </h4>
                        <h4 class="item-price" contenteditable="true" placeholder="0.0 €"> <%- item.price %> </h4>
                    </div>
                    <p class="item-description" contenteditable="true" placeholder="Description"> <%- item.description %> </p>
                    <% var allergens = item.allergens.join(', '); %>
                    <p class="item-allergens" contenteditable="true" placeholder="Allergens"><%- allergens %></p>
                </li>
                <% }); %>
            </ul>
        </li>
        <% }); %>
        <button class="save-menu">Save</button>
        <button class="delete-menu">Delete</button>
    </ul>
</li>
