@import 'reset';
@import 'mixins';
@import 'colors';

$header-height: 70px;
$logo-font: 'Mr Bedfort', cursive;
$body-font: 'Raleway', sans-serif;

* {
  @include box-sizing(border-box);
}

h1 {
  font-family: $body-font;
  color: $color-foreground;
  text-align: center;
  font-size: 2em;
  margin: 1.5em 0 1.5em;
}

header {
  background-color: $color-background;
  width: 100%;
  height: $header-height;
  text-align: right;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0 1px 12px 0 rgba(119,119,119,0.1);

  a {
    color: $color-foreground;
    text-decoration: none;
  }

  h1 {
    display: block;
    position: absolute;
    left: 0;
    font-family: $logo-font;
    font-size: 2.6em;
    line-height: $header-height;
    margin: 4px 0 0 16px;
  }

  .user {
    display: inline-block;
    margin-right: 16px;
    min-width: 100px;
    max-width: 30%;
    text-align: right;

    a {
      cursor: pointer;
      color: $color-foreground;
    }
    h2 {
      @include unselectable;
      display: inline-block;
      font-family: "Raleway", sans-serif;
      font-size: 1.2em;
      line-height: $header-height;
      cursor: pointer;

      &:not(:first-child) {
        margin-left: 34px;
      }
    }

    ul {
      position: absolute;
      display: none;
      min-width: 130px;
      max-width: 200px;
      padding-right: 20px;
      text-align: right;
      top: $header-height - 1px;
      right: 10px;
      z-index: 100;
      background: $color-background;

      border: 1px solid #ebebeb;
      border-top-width: 0;
      box-shadow: 0 2px 2px 0 rgba(119,119,119,0.1);

      li {
        margin: 4px 0;
        a {
          display: block;
          font-family: "Raleway", sans-serif;
          font-size: 1em;
          padding: 4px 0;
        }
      }
    }

    &.logged-in {
      h2 {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 30px;
        &:after {
          content: '\f107';
          position: absolute;
          top: 2px;
          right: 10px;
          font-family: FontAwesome;
          color: $color-foreground;
        }
      }
    }
  }
}

textarea:focus, input:focus, button:focus {
  outline: 0;
}

input, button, label {
  display: block;
  font-family: $body-font;
}

label {
  color: $color-foreground;
  margin-bottom: 0.2em;
}

input, button {
  font-size: 1.125em;
  padding: 0.6em 0.4em;
  border-radius: 4px;
  margin: 0 0 0.8em;
}

input[type="text"],
input[type="email"],
input[type="password"]{
  height: auto;
  border: 1px solid #555;
  background: $color-background;
  color: $color-foreground;
  box-shadow: 0 0 0 transparent;

  &.invalid {
    border-color: $color-error;
    box-shadow: 0 0 5px $color-error;
  }
}

button {
  border: 1px solid darken($color-success, 20%);
  background: $color-success;
  color: $color-foreground-inverted;
  cursor: pointer;
  font-weight: 700;

  &:hover {
    background: darken($color-success, 10%);
  }
}

#error {
  display: none;
  background: lighten($color-error, 30%);
  padding: 1em;
  margin: 0 1em;
  border: 1px solid $color-error;
  border-radius: 4px;

  p {
    font-family: $body-font;
    color: darken($color-error, 30%);
    font-size: 1em;
  }
}
