@import 'reset';
@import 'colors';

@mixin background-size($type) {
  -webkit-background-size: $type;
  -moz-background-size: $type;
  -o-background-size: $type;
  background-size: $type;
}

$header-height: 80px;

header {
  background-color: $header-background;
  width: 100%;
  height: $header-height;

  a {
    text-decoration: none;
  }

  h1 {
    display: inline-block;
    font-family: 'Mr Bedfort', cursive;
    color: #fff;
    font-size: 42px;
    line-height: $header-height;
    margin-left: 16px;
  }
}

textarea:focus, input:focus{
  outline: 0;
}

input[type="text"],
input[type="email"],
input[type="password"]{
  height: 34px;
  font-size: 18px;
  border: 1px solid #555;
  background: #fff;
  color: #333;
  padding: 4px;
  margin: 4px;
}

button {
  height: 34px;
  font-size: 18px;
  border: 1px solid #555;
  background: $highlight;
  color: #fff;
  padding: 4px;
  margin: 4px;

  &:hover {
    background: darken($highlight, 10%);
  }
}
