$color-foreground: #353b3c;
$color-foreground-inverted: #fbfbfb;
$color-background: #fbfbfb;
$color-background-inverted: #353b3c;
$color-success: #5b8c5a;
$color-notice: #fffd82;
$color-error: #e3655b;