@import 'base';

section {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#error {
  width: 80%;
  margin: 0 auto;
}

.success {
  display: none;
  width: 80%;
  text-align: center;
  margin: 0 auto;

  h2 {
    font-size: 1.2em;
    color: $color-success;
    margin-bottom: 1em;
  }

  p {
    line-height: 1.4em;
  }
}

button {
  margin: 60px auto 20px;
}