@import 'base';

header {
  position: absolute;
  top: 0;
  background: transparent;
}

section {
  h1 {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
    font-family: $body-font;
  }
}

#header {
  background: url("/static/restaurants/img/background.jpg") no-repeat center center;
  @include background-size(cover);
  height: 90vh;
  min-height: 600px;
  padding-top: $header-height;

  h1 {
    color: $color-foreground-inverted;

    &:first-child {
      margin-top: 100px;
    }
  }
}

#features {
  background: $color-background-inverted;
  min-height: 600px;
}
