@import 'restaurant-base';

@mixin active-menu {
  color: $color-success-dark;
  border-bottom: solid 2px $color-success-dark;
}

input {
  border: 0;
}

textarea {
  border: 0;
  resize: none;
  overflow: hidden;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: rgba(33, 33, 33, 0.5);
}

.title {
  text-align: center;
}

.category-name {
  margin: 0 auto;
  text-align: center;
}

.delete-category {
  color: $color-error;

  &:hover:not([disabled]) {
    color: darken($color-error, 15%);
  }
}

.delete-item {
  color: $color-error;

  &:hover:not([disabled]) {
    color: darken($color-error, 15%);
  }
}

.delete-menu {
  display: inline-block;
  background: none;
  color: $color-error;
  border: none;
  float: right;
}

.save-menu {
  display: inline-block;
}

.add-menu-item {
  color: $color-success;
  margin: 0 2rem 0 2rem;

  &:hover:not([disabled]) {
    color: darken($color-success, 15%);
  }
}


.menu-title {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin: 0.5em 0;
  padding: 8px;
  cursor: pointer;
}

.categories {
  font-family: $body-font;
  li {
    margin: 20px;

    h3 {
      font-size: 1.5em;
      text-align: center;
      margin: 0 0 1.2em;
      display: flex;
      justify-content: center;
    }
    .menu-item-title {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;

      h4 {
        font-size: 1.2em;
      }
    }
    p {
      font-size: 1em;
      line-height: 1.4em;
      padding-bottom: 10px;
    }
  }
}

@media (max-width:960px) {
  .desktop {
    display: none;
  }
}

@media (min-width:961px) {
  .item-price {
    text-align: right;
  }

  .mobile {
    display: none;
  }

  section {
    min-width: 640px;
    max-width: 840px;
    margin: 0 auto;

    .menu-titles {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      li {
        min-width: 33%;
        text-align: center;
        h2 {
          width: auto;
          margin: 1em 0;
          &:hover span, &.active span {
            @include active-menu;
          }
        }
      }
    }

    .menus {
      li {
        .categories {
          display: block;
          width: 80%;
          margin: auto;
        }
      }
    }
  }
}
