@import 'base';
$active-menu: #226f54;

@mixin active-menu {
  color: $active-menu;
  border-bottom: solid 2px $active-menu;
}

.categories.menu-mobile.active-menu {
  display: block;
}

.active-menu-title  {
  color: $active-menu;
  border-bottom: solid 2px $active-menu;
}

.categories {
  display: none;
  font-family: $body-font;
  li {
    margin: 20px;
    article {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
    }
    h2 {
      font-size: 1.5em;
      text-align: center;
    }
    p {
      font-size: 0.8em;
      padding-bottom: 10px;
    }
  }
}

.menu-desktop {
  display: none;
}

@media (min-width:961px) {
  .main {
    width: 50%;
    margin: 0 auto;
  }

  .active-menu {
    display: block;
  }

  .menu {
    display: none;
  }

  .menu.active-menu {
    display: block;
  }

  .menus {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    li {
      width: 33%;
      cursor: pointer;
      span {
        &:hover {
          @include active-menu;
        }
      }
    }
  }

  .categories {
    display: block;
    width: 70%;
    margin: auto;
  }

  .categories.menu-mobile.active-menu {
    display: none;
  }

  .menu-mobile {
    display: none;
  }

  .menu-desktop {
    display: block;
  }

}
