@import 'base';

$content-max-width: 960px;

.wrapper > section {
  max-width: $content-max-width;
  margin: 1.5em auto;
  text-align: center;

  @media screen and (min-width: 769px) {
    padding: 0 2em;
  }

}
.sections {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;

  > section {
    display: block;
    width: 100%;
    max-width: $content-max-width / 2.5;
    min-width: $content-max-width / 4;
    margin-bottom: 30px;

    h2 {
      font-size: 1.4em;
      margin: 1em 0;
    }

    form {
      position: relative;
    }

    input, label {
      text-align: left;
      width: 100%;

      &.hidden {
        display: none;
      }
    }

    input {
      padding-left: 0;
      padding-right: 34px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    label {
      margin-top: 1em;
    }

    span.success {
      display: none;
      font-family: "Raleway", sans-serif;
      font-size: 1em;
      color: $color-success;
    }

    button.change {
      position: absolute;
      top: 24px;
      right: 0;
      font-size: 18px;
      color: lighten($color-foreground, 20%);
      width: auto;
      height: auto;
      background: transparent;
      border: none;
      margin: 0;
      padding: 8px;

      &:hover {
        color: $color-foreground;
      }
    }

    button.cancel, button.save {
      display: inline-block;
      width: calc(50% - 10px);
      &.hidden {
        display: none;
      }
    }

    button.cancel {
      margin-right: 8px;
      background-color: lighten($color-foreground, 50%);
      border-color: lighten($color-foreground, 45%);
    }
    button.save {
      margin-left: 8px;
    }

    ul {
      margin-top: 2.7em;
      margin-bottom: 2.7em;
      li {
        max-width: 90%;
        white-space: nowrap;
        border-radius: 2px;
        margin: 1.2em auto;
        a {
          display: inline-block;
          position: relative;
          font-size: 1.125em;
          text-decoration: none;
          padding: 0.5em;
          text-overflow: ellipsis;
          overflow: hidden;

          &:hover {
            color: $color-info;
          }
        }
      }
    }
  }
}
