@import 'base';

$content-max-width: 960px;

.wrapper > section {
  max-width: $content-max-width;
  margin: 1.5em auto;
  text-align: center;

  @media screen and (min-width: 769px) {
    padding: 0 2em;
  }

  > section {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: $content-max-width / 2.5;
    min-width: $content-max-width / 4;
    margin: 0 auto 30px;
    @media screen and (min-width: 769px) {
      &:first-of-type {
        margin-right: 3em;
      }
      &:last-of-type {
        margin-left: 3em;
      }
    }

    h2 {
      font-size: 1.4em;
      margin: 1em 0;
    }

    input, label {
      text-align: left;
      width: 100%;
    }

    label {
      margin-top: 1em;
    }
    ul {
      margin-top: 2.7em;
      li {
        max-width: 90%;
        white-space: nowrap;
        border-radius: 2px;
        margin: 1.2em 0.5em;
        a {
          display: inline-block;
          position: relative;
          font-size: 1.125em;
          text-decoration: none;
          padding: 0.5em;
          text-overflow: ellipsis;
          overflow: hidden;

          &:hover {
            color: $color-info;
          }
        }
      }
    }
  }
}