@import 'base';

section {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

section {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

form {
  max-width: 400px;
}

label span.required {
  font-size: 80%;
  color: lighten($color-foreground, 40%);
  margin-left: 0.5em;
}

p.subdomain-info {
  color: darken($color-info, 20%);
  border: 1px solid $color-info;
  border-radius: 4px;
  background: lighten($color-info, 30%);
  padding: 0.3em;
  margin-bottom: 0.8em;

  span.name {
    color: $color-success;
  }
}