@import 'base';

section {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

section {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

form {
  max-width: 400px;
}

label span.required {
  font-size: 80%;
  color: lighten($color-foreground, 40%);
  margin-left: 0.5em;
}

}