@import 'base';

section {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
}

form {
  position: relative;
  max-width: 400px;

  .overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 46px);
    background: rgba(255, 255, 255, 0.5);
    .spinner-container {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;

      .fa {
        font-size: 48px;
        color: $color-foreground;
      }
    }
  }
}
