@import 'base';

section {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

form {
  background: transparent;
  max-width: 400px;
  margin: 2em 1em;

  input, button {
    width: 100%;
    max-width: 400px;
  }
}
